
bin/Debug/
bin/
obj/
.vs/cm-lambda-create-contact/DesignTimeBuild/

.vs/cm-lambda-create-contact/FileContentIndex/

.vs/ChatbotOne/FileContentIndex/

.vs/BibliotecasCrediMotos/DesignTimeBuild/

.vs/BibliotecasCrediMotos/FileContentIndex/

.vs/ProjectEvaluation/
BibliotecaChatwoot/.vs/BibliotecaChatwoot/v16/.suo
BibliotecaChatwoot/.vs/BibliotecaChatwoot/v16/.suo
/BibliotecaChatwoot/.vs
/BibliotecaChatwoot/.vs
BibliotecaChatwoot/BibliotecaChatwoot/Services/Twilio/Config.cs
